html, body{
    margin: 0;
}

body {
    background: rgb(48, 50, 61);
    font-family: "korolev-compressed", Courier New, Courier, monospace;
    color: #D8D4F2;
}

/* Navbar */

.nav-bar{
    height: 80px;
    font-size: 24px;
}

.nav-bar .content{
    height: 80px;
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar .content span {
    margin-left: 10px;
    margin-right: 10px;
    color: #aaa;
    cursor: pointer;
}

.nav-bar .content span:hover {
    color: #ccc;
}

.nav-bar .content span.active {
    color: #fff;
}

/* Basics */

.case-study-section{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(232, 197, 71);
}

.case-study-section.s1{
    border-top: 1px solid rgb(232, 197, 71);
    background: url(assets/images/HDKnowledge-Blurred.png) no-repeat center center; 
}

.case-study-section.s2{
    text-align: right;
    background: url(assets/images/JJFoods-Blurred.png) no-repeat center center; 
}

.container{
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.container .case-study{
    padding-left: 60px;
    padding-right: 60px;
}

.container.padded{
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo{
    width: 100%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.portrait{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    width: 100%;
    margin-bottom: 30px;
}

.header{
    width: 150px;
    margin-left: auto;
    margin-right: auto;

    letter-spacing: 2px;
    text-align: center;
    font-size: 20px;
    /* text-decoration: underline;
    text-decoration-color: rgb(232, 197, 71); */
    border-bottom: 1px solid rgb(232, 197, 71);
    padding-bottom: 3px;
}

.header.simple{
    border: none;
}

.header-jumbo{
    font-size: 60px;
}

p{
    letter-spacing: 2px;
}

p.skinny{
    margin-top: 4px;
    margin-bottom: 4px;
}

.text-center{
    text-align: center;
}

.text-yellow{
    color: rgb(232, 197, 71);
}

.btn{
    height: 40px;
    padding: 8px 20px;
    background: rgb(232, 197, 71);
    color: #000;

    border: 1px solid rgb(232, 197, 71);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 550;
    letter-spacing: 2px;
}

.btn-yellow-hollow{
    background: none;
    color: rgb(232, 197, 71);
}

.btn-row-left button{
    margin-right: 30px;
}

.btn-row-right button{
    margin-left: 30px;
}

.skill-row{
    margin-top: 30px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    width: 100px;
    height: 100px;
}

.contact-me-section{
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.contact-me-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-me-tile{
    width: 250px;
    margin-top: 60px;
}

.contact-me-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    width: 40px;
    height: 40px;
}

footer{
    height: 120px;
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-copy{
    font-size: 24px;
}